@font-face {
  font-family: 'ligconsolata';
  src: url('/assets/ligconsolata.ttf') format('truetype');
}


.explanation, .showcase {
  overflow: hidden;
}


body {
  font-family: 'ligconsolata';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(180deg, #2C2C2C 0%, #1f1f1f 50%, #151515 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.logo img {
  height: 40px;
}

.outer-image {
  width: 100%;
  max-height: 25rem;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.outer-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.inner-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 4rem;
}

.h {
  font-size: 30px;
  letter-spacing: 0.3rem;
}

.explanation, .showcase {
  max-width: 800px;
  padding: 20px;
  color: #fff;
  height: 25rem;
}

.explanation {
  background-color: #131313;
  height: 20rem;
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  bottom: 0%;
}

.selected-bar {
  flex-grow: 1;
  height: 13px;
  margin: 0.2rem;
  background-color: white;
}

.bottom-bars {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bottom-bar {
  flex-grow: 1;
  height: 10px;
  margin: 0.2rem;
  background-color: rgb(63, 63, 63);
  cursor: pointer;
  transition: background-color 0.3s;
}

.bottom-bar:hover {
  background-color: rgb(100, 100, 100);
}

.showcase {
  background-color: #000;
  display: flex;
  justify-content: center;
  max-height: 25em;
}

.showcase img {
  width: 100%;
  max-height: 25rem;
  max-width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.grid-content {
  display: grid;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  background-color: #232323;
  color: white;
  padding: 40px;
}

.nav-item {
  text-align: center;
}

.nav-title {
  margin: 0;
  font-size: 55px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-subtitle {
  color: #aaa;
  font-size: 40px;
  text-decoration: underline;
}

.footer {
  background-color: #131313;
  color: white;
  padding: 5px;
  text-align: center;
}

.sep::after {
  content: "|";
  margin: 0 5px;
  color: #999;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}
